:root {
    --main-color: peachpuff;
    --hover-background: white;
    --clicked-background: white;
    --text-main-color: black;
    --text-hover-color: white;
    --text-on-background: white;
    --text-shadow-color: rgb(226, 161, 104);
}

html {
    background-color: var(--main-color);
}